<div class="container">
  <!-- Botón Return -->
  <button mat-stroked-button class="back-button" routerLink="/elder/home">
    <mat-icon>arrow_back</mat-icon> Return
  </button>

  <h2>Emergency Numbers</h2>

  <div class="numbers-grid">

    <div class="contact-section">
      <h3>Family Contact</h3>
      <ul>
        <li *ngFor="let family of familyContacts">
          {{ family.name }}: {{ family.phone }}
          <button mat-button>Edit</button>
          <button mat-button>Delete</button>
        </li>
      </ul>
      <button mat-raised-button color="primary" class="add-contact-btn">Add Contact</button>
    </div>


    <div class="contact-section">
      <h3>Emergency Number</h3>
      <ul>
        <li *ngFor="let emergency of emergencyNumbers">
          {{ emergency.type }}: {{ emergency.phone }}
          <button mat-button>Edit</button>
          <button mat-button>Delete</button>
        </li>
      </ul>
      <button mat-raised-button color="primary" class="add-contact-btn">Add Number</button>
    </div>
  </div>
</div>
