<div class="home-container">
  <mat-toolbar color="primary">
    <span>Welcome</span>
  </mat-toolbar>

  <h2>Where do you want to start?</h2>

  <div class="button-grid">
    <button mat-raised-button color="primary" routerLink="/elder/vital-signs">{{ 'home-elder".welcome' | translate }}</button>
    <button mat-raised-button color="primary" routerLink="/elder/profile">Older Adult Profile</button>
    <button mat-raised-button color="primary" routerLink="/support/emergency-numbers">Emergency Numbers</button>
    <button mat-raised-button color="primary" routerLink="/elder/reminders">Reminders</button>


    <div class="centered-container">
      <button mat-raised-button color="primary" routerLink="/support/technical">Technical Support</button>
    </div>
  </div>
</div>
