<div class="login-container">

  <div class="login-box">

    <div class="logo-tukun">
      <img src="/assets/Logo.png">
    </div>

    <h2>Log in to your account</h2>

    <div class="tipe-account">
      <div class="rectangle">
        <svg
          width="250"
          height="40"
          viewBox="0 0 250 40"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect width="250" height="40" rx="10" fill="#5CB4B5" />
        </svg>
      </div>
      <a class="text-elder">Elder</a>
      <a class="text-clinics" href="#">Clinics</a>
    </div>

    <div class="social-login">
      <button mat-button class="google-login">
        <img src="/assets/google-icon.png" alt="google">
      </button>

      <button mat-button class="apple-login">
        <img src="/assets/apple-icon.png" alt="apple">
      </button>

      <button mat-button class="facebook-login" type="submit">
        <img src="/assets/facebook-icon.png" alt="facebook">
      </button>
    </div>

    <form [formGroup]="loginElderForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Email">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" placeholder="Password" type="password">
      </mat-form-field>

      <div class="boto">
        <button mat-raised-button class="boto" type="submit" routerLink="/elder/home">Log In</button>
      </div>
    </form>

    <div class="i-forgot-my-pass">
      <a href="#">I forgot my password</a>
    </div>

    <div class="create-account">
      <span>Don't have an account? Create one</span>
      <button mat-raised-button class="button-create-account" routerLink="/create-elder">Create an account</button>
    </div>
  </div>
</div>
