<div class="container mt-5">
  <div *ngIf="patient" class="card">
    <div class="card-header bg-primary text-white">
      <h3>Patient Details</h3>
    </div>
    <div class="card-body">
      <p><strong>ID:</strong> {{ patient.id }}</p>
      <p><strong>Name:</strong> {{ patient.name }}</p>
      <p><strong>Last Name:</strong> {{ patient.lastName }}</p>
      <p><strong>DNI:</strong> {{ patient.dni }}</p>
      <p><strong>Age:</strong> {{ patient.age }}</p>
      <p><strong>Blood Type:</strong> {{ patient.bloodType?.type }}</p>
      <p><strong>Nationality:</strong> {{ patient.nationality?.nationality }}</p>
      <p><strong>Gender:</strong> {{ patient.gender?.gender }}</p>
    </div>
  </div>
  <div *ngIf="!patient" class="alert alert-warning" role="alert">
    No patient information found.
  </div>
</div>
