

<div class="content">
  <h3 class="title">Welcome:</h3>
  <h3 class="subt">Where do you want to start?</h3>

  <div class="button-group">
    <button class="button-group-opt" mat-button routerLink="/postoperative">Postoperative Patients</button>
    <button class="button-group-opt" mat-button routerLink="/icu">ICU Patients</button>
    <button class="button-group-opt" mat-button routerLink="/registration">Registration</button>
    <button class="button-group-opt" mat-button routerLink="/patients">Patients</button>
    <button class="button-group-opt" mat-button routerLink="/doctors">Doctors</button>
    <button class="button-group-opt" mat-button routerLink="/">Appointments</button>
  </div>

</div>
